<footer >
    <ul class="footer-list">
        <li>Phone:+91 9156140197</li>
        <li>Email:saurabh.pathak52@gmail.com</li>
        <li>Country:India</li>
    </ul>
    <span> <b>made by saurabh </b></span>
</footer>