<section class="about-3">
    <div>
        <p>
        <b style="color: black;">
            <em  style="color: black;">
                Hello friends!
            </em> <br>
            i am saurabh pathak,
        </b> <br>
        currently pursuing Bachelor of engineering in computer science <br> at Theme college of engineening affilite with mumbai unvirsity.
    </p>
    <button type="button" class="btn btn-success btn-light home-btn"> <a href="/files/CV.pdf" class="home-btn" target="blank">Explor more</a></button>
    </div>

  
</section>