
<div class="home">
    <img src="/images/saurabh.jpg" alt="saurabh" class="saurabh-img">
    <p>
        <b><em>Pathak Saurabh</em></b>
        <!-- <br>
        <button type="button" class="btn btn-success btn-light home-btn"> <a href="#" class="home-btn">Explore</a></button> -->
       <br>
        <b>i am web developer.</b> 
    </p>
</div>
<section >
    <div class="about-1">
        <img src="/images/saurabh-1.jpg" alt="saurabh">
        <p>
           <em>life is more beautiful if you keep similing.</em> 
        </p>
    </div>
    <div class="about-2">
        <img src="/images/saurabh-2.jpg" alt="saurabh" >
        <p>
            <em>Never give up.</em>
        </p>
    </div>

</section>
