*{
    font-size: 1.2rem;
    color: #fff;
}
.navigation{
    position: sticky;
    top: 0;
}
.nav-uls{
    margin-right: 100px;
}
.nav-uls li a{
    margin: 0 30px 0 30px;
}
.home{
    margin: 0;
    background-color: grey;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.home p{
    margin-top: 450px;
    margin-left: 200px;
}
.home-btn{
    color: black; 
    list-style: none;
    text-decoration: none;
}
.home-btn:hover{
background-color: black;
color: #fff;
}
.saurabh-img{
    width: 40%;
    /* height: 30%; */
    display: flex;
    /* margin: auto; */
    /* margin-top: 20px; */
    /* margin-bottom: 20px;*/
    margin-left: 10%; 
    /* margin-bottom: -10px; */


}


footer{
    background-color: black;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: -19px;
    
    
}

.footer-list{
    width: 100%;
    height: 60px;
    margin: auto;
    display: flex;
    color:#fff;
    list-style: none;
    text-decoration: none;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;

}

/* /////////////// /////////////////////////// Explore section //////////////////////////////////////////////////////////////////////*/

.about-1{
 background-color: coral;
 display: flex;
 flex-direction: row-reverse;
 text-align: center;
 align-items: center;
 padding: 20px;
}
.about-1 img{
  width: 40%;
  margin-right: 300px;
}
.about-1 p{
    margin-right: 20px;
}
.about-2{
    background-color:salmon;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    padding: 20px;  
}
.about-2 img{
    width: 40%;
    margin-left: 300px;
  }

.about-2 p{
    margin-left: 20px;
}


.about-3{
    height: 82.7vh;
    background-color: aquamarine;
}
.about-3 div{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    height: 100%;
}
.about-3 p{
    color: black;
}





